* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* font-size: 28px; */
  background: hsl(218, 23%, 16%);
  color: white;
  font-family: "poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advice {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* justify-content: space-around; */
  position: relative;
  width: 490px;
  height: 250px;
  background: hsl(217, 19%, 24%);
  border-radius: 10px;
  padding: 20px;
}

.desktop-container {
  position: absolute;
  bottom: 20%;
  left: 5%;
  margin-top: 15px;
}

.mobile-container {
  display: none;
  position: absolute;
}

.desktop-img {
  display: block;
}
.mobile-img {
  display: none;
}

.btn {
  position: absolute;
  left: 45%;
  bottom: -10%;
  padding: 13px 15px;
  border: none;
  outline: none;
  background: hsl(150, 100%, 66%);
  border-radius: 50%;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 0 10px 5px hsl(150, 100%, 66%);
}

#advice {
  text-align: center;
  color: hsl(150, 100%, 66%);
  font-size: 30px;
}

.advice-message {
  text-align: center;
  font-size: 18px;
}

@media only screen and (max-width: 460px) {
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .advice {
    width: 95%;
    height: 250px;
  }
  .desktop-container {
    display: none;
  }
  .mobile-container {
    display: block;
    bottom: 20%;
    left: 11%;
    margin-top: 15px;
  }
  .desktop-img {
    display: none;
  }
  .mobile-img {
    display: block;
  }
  .btn {
    left: 42%;
    bottom: -10%;
  }
}

@media only screen and (max-width: 380px) {
  .mobile-container {
    display: block;
    bottom: 20%;
    left: 6%;
    margin-top: 15px;
  }
}