body,
html {
  background: #191d2b;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todoList {
  background: #2a2e35;
  border-radius: 9px;
  padding: 20px;
  max-height: 85vh;
  width: 700px;
  overflow-y: auto;
  overflow-x: hidden;
}

.header {
  display: flex;
  position: sticky;
  justify-content: space-between;
  margin-bottom: 15px;
}

.header-item {
  border-radius: 5px;
  padding: 10px;
  outline: none;
  margin: 3px;
}

#title {
  width: 80%;
}

#description {
  width: 99%;
  border-radius: 8px;
  margin-bottom: 20px;
  outline: none;
}

.add-button {
  background: #367e54;
  border: none;
  cursor: pointer;
  text-align: center;
  color: white;
  font-size: 18px;
}

.add-button:hover {
  background: #27ae60;
}

.add-button:active {
  background: #27ae60;
}
/* TASKS CONTAINER */
.task-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin: 0;
}

/* TASK ITEM CONTAINER */
.task-item {
  padding: 10px;
  background: #ecf0f1;
  border-radius: 5px;
}

strong{
  margin-bottom: 5px;
}

.task-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 13px;
  border-radius: 5px;
  transition: background 0.3s ease;
}

/* .task-button:hover {
    background: #e74c3c;
    color: white;
} */

/* .task-button i {
    color: #e74c3c;
    font-size: 18px;
} */

.task-button:hover i {
  color: white;
}
button {
  border-radius: 5px;
  transition: background 0.3s ease;
}
.delete-btn {
  background: #e74c3c;
  color: white;
  padding: 10px;
}

.delete-btn:hover {
  background: #c0392b;
}

.complete-btn {
  background: #367e54;
  color: white;
  padding: 10px;
}

.complete-btn:hover {
  background: #27ae60;
  margin-right: 5px;
}

.edit-btn {
  background: #f39c12;
  color: white;
  padding: 10px;
}

.hidden {
  display: none;
}

.sort-button{
  background: #367e54;
  color: white;
  padding: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.sort-button:hover {
  background: #27ae60;
}

.button-spacing {
  margin-right: 10px;
}